<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pemda.cirebon.teraulang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeraUlang">
        <activity android:name=".Dasboard"/>
        <activity android:name=".Profile" />
        <activity android:name=".Monitoring" />
        <activity
            android:name=".Fragment.Grafik_Fragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Fragment.Data_Fragment"
            tools:ignore="Instantiatable" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="pemda.cirebon.teraulang"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ReportTera" />
        <activity android:name=".RekamData" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>